Package: com.chr1s.pixelcons
Name: Pixelcons
Version: 0.0.1
Architecture: iphoneos-arm
Description: Pixelate app icons!
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
